**/node_modules/
.DS_Store
dot-config/raycast/
dot-config/htop/
dot-config/cava/
# github-copilot stores the auth token
dot-config/github-copilot/ 
dot-config/tmux/plugins/
dot-config/karabiner/automatic_backups/
dot-config/chatreply/
dot-config/raycast/extensions/
dot-config/swiftpm/
.direnv/
.nix-profile
dot-config/claude/statsig/
dot-config/docker/
dot-config/claude/
dot-config/gh/hosts.yml
