# You can use it to add commands that run after login to macOS user session.
# 'start-at-login' needs to be 'true' for 'after-login-command' to work
# Available commands: https://nikitabobko.github.io/AeroSpace/commands
after-login-command = []

# You can use it to add commands that run after AeroSpace startup.
# 'after-startup-command' is run after 'after-login-command'
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = [
	'workspace 2',
	'layout h_accordion',
	'workspace 4'
]

start-at-login = true
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
accordion-padding = 30
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'
key-mapping.preset = 'qwerty'
# on-focus-changed = ['move-mouse window-lazy-center']

[gaps]
inner.horizontal = 0
inner.vertical   = 0
outer.left       = 0
outer.bottom     = 0
outer.top        = 0
outer.right      = 0

[mode.main.binding]
cmd-m = [] # Disable "hide application"
cmd-h = [] # Disable "hide application"
cmd-alt-h = [] # Disable "hide others"
ctrl-alt-cmd-e = 'exec-and-forget osascript -e "tell application \"Finder\" to make new Finder window to Home"'
ctrl-alt-cmd-enter = 'exec-and-forget open -n /Applications/Ghostty.app'
ctrl-alt-cmd-b = 'exec-and-forget open -n /Applications/Firefox.app/'
ctrl-alt-cmd-t = 'exec-and-forget /Applications/Firefox.app/Contents/MacOS/firefox --new-window "https://translate.google.com"'
ctrl-alt-cmd-shift-f = 'layout floating tiling'
ctrl-alt-cmd-v = 'layout tiles horizontal vertical'
ctrl-alt-cmd-w = 'layout accordion horizontal'
ctrl-alt-cmd-s = 'layout accordion vertical'

ctrl-alt-cmd-h = 'focus left'
ctrl-alt-cmd-j = 'focus down'
ctrl-alt-cmd-k = 'focus up'
ctrl-alt-cmd-l = 'focus right'

ctrl-alt-cmd-shift-h = 'move left'
ctrl-alt-cmd-shift-j = 'move down'
ctrl-alt-cmd-shift-k = 'move up'
ctrl-alt-cmd-shift-l = 'move right'

ctrl-alt-cmd-f = 'fullscreen'


ctrl-alt-cmd-minus = 'resize smart -50'
ctrl-alt-cmd-equal = 'resize smart +50'

ctrl-alt-cmd-1 = 'workspace 1'
ctrl-alt-cmd-2 = 'workspace 2' # messaging
ctrl-alt-cmd-3 = 'workspace 3' # terminal
ctrl-alt-cmd-4 = 'workspace 4' # browser
ctrl-alt-cmd-5 = 'workspace 5'
ctrl-alt-cmd-6 = 'workspace 6'
ctrl-alt-cmd-7 = 'workspace 7'
ctrl-alt-cmd-8 = 'workspace 8' # todo
ctrl-alt-cmd-9 = 'workspace 9' # email
ctrl-alt-cmd-0 = 'workspace 10' # spotify

ctrl-alt-cmd-shift-1 = 'move-node-to-workspace 1'
ctrl-alt-cmd-shift-2 = 'move-node-to-workspace 2'
ctrl-alt-cmd-shift-3 = 'move-node-to-workspace 3'
ctrl-alt-cmd-shift-4 = 'move-node-to-workspace 4'
ctrl-alt-cmd-shift-5 = 'move-node-to-workspace 5'
ctrl-alt-cmd-shift-6 = 'move-node-to-workspace 6'
ctrl-alt-cmd-shift-7 = 'move-node-to-workspace 7'
ctrl-alt-cmd-shift-8 = 'move-node-to-workspace 8'
ctrl-alt-cmd-shift-9 = 'move-node-to-workspace 9'
ctrl-alt-cmd-shift-0 = 'move-node-to-workspace 10'

ctrl-alt-cmd-shift-c = 'reload-config'

alt-tab = 'workspace-back-and-forth'
ctrl-alt-cmd-n = 'focus-monitor --wrap-around next'
ctrl-alt-cmd-p = 'focus-monitor --wrap-around prev'
ctrl-alt-cmd-shift-n = 'move-workspace-to-monitor --wrap-around next'
ctrl-alt-cmd-shift-p = 'move-workspace-to-monitor --wrap-around prev'

ctrl-alt-cmd-shift-s = 'mode service'
ctrl-alt-cmd-space = 'mode open'
ctrl-alt-cmd-shift-r = ['reload-config', 'mode main']

[mode.service.binding]
esc = ['reload-config', 'mode main']
enter = ['reload-config', 'mode main']
r = ['flatten-workspace-tree', 'mode main'] # reset layout
o = ['close-all-windows-but-current', 'mode main']

ctrl-alt-cmd-h = ['join-with left', 'mode main']
ctrl-alt-cmd-j = ['join-with down', 'mode main']
ctrl-alt-cmd-k = ['join-with up', 'mode main']
ctrl-alt-cmd-l = ['join-with right', 'mode main']

[mode.open.binding]
esc = 'mode main'
r = ['reload-config', 'mode main']

[[on-window-detected]]
if.app-id = 'com.facebook.archon.developerID'
run = "move-node-to-workspace 2"

[[on-window-detected]]
if.app-id = 'net.whatsapp.WhatsApp'
run = "move-node-to-workspace 2"

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run = "move-node-to-workspace 2"

[[on-window-detected]]
if.app-id = 'info.sioyek.sioyek'
run = "move-node-to-workspace 5"

[[on-window-detected]]
if.app-id = 'com.super-productivity.app'
run = "move-node-to-workspace 8"

[[on-window-detected]]
if.app-id = 'com.apple.reminders'
run = "move-node-to-workspace 8"

[[on-window-detected]]
if.app-id = 'com.apple.iCal'
run = "move-node-to-workspace 8"

[[on-window-detected]]
if.app-id = 'com.apple.mail'
run = "move-node-to-workspace 8"

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = "move-node-to-workspace 10"
