[Desktop Entry]
Name=Sway-Nvidia-Env
Comment=An i3-compatible Wayland compositor
Exec=/home/erykksc/.dotfiles/bin/start-sway.sh --unsupported-gpu
Type=Application
DesktopNames=sway;wlroots
